* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 15px;
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 15px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.pointer {
    cursor: pointer;
}